img.resize {
  max-width: 200;
  max-height: 150;
}

img {
    
    float: left;
}

.headline {
    text-align: center;
}
.paragraph {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
body {
    background-color: plum;
}
